html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	line-height: 1;
	background: #fff;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {

	animation: none !important;

	transition: none !important;
}

body, input, textarea {
	color: #a2a2a2;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}

article,header,section {
	display: block;
}

h1, h2, h3 {
	color: #787878;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

strong, b {
	color: #787878;
	font-weight: 400;
}

a {

	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: #49bf9d;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	color: #49bf9d !important;
	text-decoration: none;
}

p {
	margin: 0 0 2em 0;
}

/*Section*/

header p {
	color: #b2b2b2;
	position: relative;
	margin: 0 0 1.5em 0;
}

header h2 + p {
	font-size: 1.25em;
	margin-top: -1em;
	line-height: 1.5em;
}

header h3 + p {
	font-size: 1.1em;
	margin-top: -0.8em;
	line-height: 1.5em;
}

header.major h2 {
	font-size: 2em;
}

section.special, article.special {
	text-align: center;
}

/* Header */

#header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	/*background-color: #1f1815;*/
	/*background-attachment: scroll;*/
	/*background-image: url("https://i.pinimg.com/564x/f4/f6/09/f4f6091ef727adfa8f0e0c802ea6df3b.jpg");*/
	/*background-position: top left;*/
	/*background-repeat: no-repeat;*/
	/*background-size: auto,150%;*/
	color: rgba(255, 255, 255, 0.5);
	height: 100%;
	left: 0;
	padding: 8em 4em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 35%;
}

#header > * {
	flex-shrink: 0;
	width: 100%;
}

#header > .inner {
	flex-grow: 1;
	margin: 0 0 2em 0;
}

#header strong, #header b {
	color: #787878;
}

#header h2, #header h3, #header h4, #header h5, #header h6 {
	color: #787878;
}

#header h1 {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.35em;
	line-height: 1.75em;
	margin: 0;
}

#header .image.avatar {
	margin: 0 0 1em 0;
	width: 6.25em;
}

.image img {
	border-radius: 0.35em;
	display: block;
}

/* Image */

.image {
	border-radius: 0.35em;
	border: 0;
	display: inline-block;
	position: relative;
}

.image:before {
	transition: opacity 0.2s ease-in-out;
	border-radius: 0.35em;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
}

.image.thumb {
	text-align: center;
}

.image.thumb:after {
	transition: opacity 0.2s ease-in-out;
	border-radius: 0.35em;
	border: solid 3px rgba(255, 255, 255, 0.5);
	color: #fff;
	content: 'View';
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	left: 50%;
	line-height: 2.25em;
	margin: -1.25em 0 0 -3em;
	opacity: 0;
	padding: 0 1.5em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 50%;
	white-space: nowrap;
}

.image.thumb:hover:after {
	opacity: 1.0;
}

.image.thumb:hover:before {
	opacity: 1.0;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.avatar {
	border-radius: 100%;
}

.image.avatar:before {
	display: none;
}

.image.avatar img {
	border-radius: 100%;
	width: 100%;
}

/* Main */

#main {
	margin-left: 35%;
	max-width: 54em;
	padding: 8em 4em 4em 4em;
	width: calc(100% - 35%);
}

#main > section {
	border-top: solid 2px #efefef;
	margin: 1em 0 0 0;
	padding: 4em 0 0 0;
}

#main > section:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

hr {
	border: 0;
	border-bottom: solid 2px #efefef;
	margin: 2em 0;
}

hr.major {
	margin: 3em 0;
}

/* Actions */

ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
	margin-left: -1em;
	padding-left: 0;
}

ul.actions li {
	padding: 0 0 0 1em;
	vertical-align: middle;
}

ul.actions.special {
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-left: 0;
}

ul.actions.special li:first-child {
	padding-left: 0;
}

ul.actions.stacked {
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 0;
}

ul.actions.stacked li {
	padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
	padding-top: 0;
}

ul.actions.fit {
	width: calc(100% + 1em);
}

ul.actions.fit li {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	width: 100%;
}

ul.actions.fit li > * {
	width: 100%;
}

ul.actions.fit.stacked {
	width: 100%;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 0.35em;
	border: solid 3px #efefef;
	color: #787878 !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 3.15em;
	height: calc(2.75em + 6px);
	line-height: 2.75em;
	min-width: 10em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
	border-color: #49bf9d;
	color: #49bf9d !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
	background-color: rgba(73, 191, 157, 0.1);
	border-color: #49bf9d;
	color: #49bf9d !important;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
	min-width: 0;
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
.button.large {
	font-size: 1.35em;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
.button.primary {
	background-color: #49bf9d;
	border-color: #49bf9d;
	color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
.button.primary:hover {
	background-color: #5cc6a7;
	border-color: #5cc6a7;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
.button.primary:active {
	background-color: #3eb08f;
	border-color: #3eb08f;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
	background-color: #e7e7e7 !important;
	border-color: #e7e7e7 !important;
	color: #b2b2b2 !important;
	cursor: default;
}

/* Row */

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row > * {
	box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}

.row.aln-left {
	justify-content: flex-start;
}

.row.aln-center {
	justify-content: center;
}

.row.aln-right {
	justify-content: flex-end;
}

.row.aln-top {
	align-items: flex-start;
}

.row.aln-middle {
	align-items: center;
}

.row.aln-bottom {
	align-items: flex-end;
}

.row > .imp {
	order: -1;
}

.row > .col-1 {
	width: 8.3333333333%;
}

.row > .off-1 {
	margin-left: 8.3333333333%;
}

.row > .col-2 {
	width: 16.6666666667%;
}

.row > .off-2 {
	margin-left: 16.6666666667%;
}

.row > .col-3 {
	width: 25%;
}

.row > .off-3 {
	margin-left: 25%;
}

.row > .col-4 {
	width: 33.3333333333%;
}

.row > .off-4 {
	margin-left: 33.3333333333%;
}

.row > .col-5 {
	width: 41.6666666667%;
}

.row > .off-5 {
	margin-left: 41.6666666667%;
}

.row > .col-6 {
	width: 50%;
}

.row > .off-6 {
	margin-left: 50%;
}

.row > .col-7 {
	width: 58.3333333333%;
}

.row > .off-7 {
	margin-left: 58.3333333333%;
}

.row > .col-8 {
	width: 66.6666666667%;
}

.row > .off-8 {
	margin-left: 66.6666666667%;
}

.row > .col-9 {
	width: 75%;
}

.row > .off-9 {
	margin-left: 75%;
}

.row > .col-10 {
	width: 83.3333333333%;
}

.row > .off-10 {
	margin-left: 83.3333333333%;
}

.row > .col-11 {
	width: 91.6666666667%;
}

.row > .off-11 {
	margin-left: 91.6666666667%;
}

.row > .col-12 {
	width: 100%;
}

.row > .off-12 {
	margin-left: 100%;
}

@media screen and (max-width: 1800px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row > .imp-xlarge {
		order: -1;
	}

	.row > .col-1-xlarge {
		width: 8.3333333333%;
	}

	.row > .off-1-xlarge {
		margin-left: 8.3333333333%;
	}

	.row > .col-2-xlarge {
		width: 16.6666666667%;
	}

	.row > .off-2-xlarge {
		margin-left: 16.6666666667%;
	}

	.row > .col-3-xlarge {
		width: 25%;
	}

	.row > .off-3-xlarge {
		margin-left: 25%;
	}

	.row > .col-4-xlarge {
		width: 33.3333333333%;
	}

	.row > .off-4-xlarge {
		margin-left: 33.3333333333%;
	}

	.row > .col-5-xlarge {
		width: 41.6666666667%;
	}

	.row > .off-5-xlarge {
		margin-left: 41.6666666667%;
	}

	.row > .col-6-xlarge {
		width: 50%;
	}

	.row > .off-6-xlarge {
		margin-left: 50%;
	}

	.row > .col-7-xlarge {
		width: 58.3333333333%;
	}

	.row > .off-7-xlarge {
		margin-left: 58.3333333333%;
	}

	.row > .col-8-xlarge {
		width: 66.6666666667%;
	}

	.row > .off-8-xlarge {
		margin-left: 66.6666666667%;
	}

	.row > .col-9-xlarge {
		width: 75%;
	}

	.row > .off-9-xlarge {
		margin-left: 75%;
	}

	.row > .col-10-xlarge {
		width: 83.3333333333%;
	}

	.row > .off-10-xlarge {
		margin-left: 83.3333333333%;
	}

	.row > .col-11-xlarge {
		width: 91.6666666667%;
	}

	.row > .off-11-xlarge {
		margin-left: 91.6666666667%;
	}

	.row > .col-12-xlarge {
		width: 100%;
	}

	.row > .off-12-xlarge {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0;
		margin-left: 0em;
	}

	.row.gtr-0 > * {
		padding: 0 0 0 0em;
	}

	.row.gtr-0.gtr-uniform {
		margin-top: 0em;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0em;
	}

	.row.gtr-25 {
		margin-top: 0;
		margin-left: -0.625em;
	}

	.row.gtr-25 > * {
		padding: 0 0 0 0.625em;
	}

	.row.gtr-25.gtr-uniform {
		margin-top: -0.625em;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 0.625em;
	}

	.row.gtr-50 {
		margin-top: 0;
		margin-left: -1.25em;
	}

	.row.gtr-50 > * {
		padding: 0 0 0 1.25em;
	}

	.row.gtr-50.gtr-uniform {
		margin-top: -1.25em;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 1.25em;
	}

	.row {
		margin-top: 0;
		margin-left: -2.5em;
	}

	.row > * {
		padding: 0 0 0 2.5em;
	}

	.row.gtr-uniform {
		margin-top: -2.5em;
	}

	.row.gtr-uniform > * {
		padding-top: 2.5em;
	}

	.row.gtr-150 {
		margin-top: 0;
		margin-left: -3.75em;
	}

	.row.gtr-150 > * {
		padding: 0 0 0 3.75em;
	}

	.row.gtr-150.gtr-uniform {
		margin-top: -3.75em;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 3.75em;
	}

	.row.gtr-200 {
		margin-top: 0;
		margin-left: -5em;
	}

	.row.gtr-200 > * {
		padding: 0 0 0 5em;
	}

	.row.gtr-200.gtr-uniform {
		margin-top: -5em;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 5em;
	}

}

@media screen and (max-width: 1280px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row > .imp-large {
		order: -1;
	}

	.row > .col-1-large {
		width: 8.3333333333%;
	}

	.row > .off-1-large {
		margin-left: 8.3333333333%;
	}

	.row > .col-2-large {
		width: 16.6666666667%;
	}

	.row > .off-2-large {
		margin-left: 16.6666666667%;
	}

	.row > .col-3-large {
		width: 25%;
	}

	.row > .off-3-large {
		margin-left: 25%;
	}

	.row > .col-4-large {
		width: 33.3333333333%;
	}

	.row > .off-4-large {
		margin-left: 33.3333333333%;
	}

	.row > .col-5-large {
		width: 41.6666666667%;
	}

	.row > .off-5-large {
		margin-left: 41.6666666667%;
	}

	.row > .col-6-large {
		width: 50%;
	}

	.row > .off-6-large {
		margin-left: 50%;
	}

	.row > .col-7-large {
		width: 58.3333333333%;
	}

	.row > .off-7-large {
		margin-left: 58.3333333333%;
	}

	.row > .col-8-large {
		width: 66.6666666667%;
	}

	.row > .off-8-large {
		margin-left: 66.6666666667%;
	}

	.row > .col-9-large {
		width: 75%;
	}

	.row > .off-9-large {
		margin-left: 75%;
	}

	.row > .col-10-large {
		width: 83.3333333333%;
	}

	.row > .off-10-large {
		margin-left: 83.3333333333%;
	}

	.row > .col-11-large {
		width: 91.6666666667%;
	}

	.row > .off-11-large {
		margin-left: 91.6666666667%;
	}

	.row > .col-12-large {
		width: 100%;
	}

	.row > .off-12-large {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0;
		margin-left: 0em;
	}

	.row.gtr-0 > * {
		padding: 0 0 0 0em;
	}

	.row.gtr-0.gtr-uniform {
		margin-top: 0em;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0em;
	}

	.row.gtr-25 {
		margin-top: 0;
		margin-left: -0.5em;
	}

	.row.gtr-25 > * {
		padding: 0 0 0 0.5em;
	}

	.row.gtr-25.gtr-uniform {
		margin-top: -0.5em;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 0.5em;
	}

	.row.gtr-50 {
		margin-top: 0;
		margin-left: -1em;
	}

	.row.gtr-50 > * {
		padding: 0 0 0 1em;
	}

	.row.gtr-50.gtr-uniform {
		margin-top: -1em;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 1em;
	}

	.row {
		margin-top: 0;
		margin-left: -2em;
	}

	.row > * {
		padding: 0 0 0 2em;
	}

	.row.gtr-uniform {
		margin-top: -2em;
	}

	.row.gtr-uniform > * {
		padding-top: 2em;
	}

	.row.gtr-150 {
		margin-top: 0;
		margin-left: -3em;
	}

	.row.gtr-150 > * {
		padding: 0 0 0 3em;
	}

	.row.gtr-150.gtr-uniform {
		margin-top: -3em;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 3em;
	}

	.row.gtr-200 {
		margin-top: 0;
		margin-left: -4em;
	}

	.row.gtr-200 > * {
		padding: 0 0 0 4em;
	}

	.row.gtr-200.gtr-uniform {
		margin-top: -4em;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 4em;
	}

}

@media screen and (max-width: 980px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row > .imp-medium {
		order: -1;
	}

	.row > .col-1-medium {
		width: 8.3333333333%;
	}

	.row > .off-1-medium {
		margin-left: 8.3333333333%;
	}

	.row > .col-2-medium {
		width: 16.6666666667%;
	}

	.row > .off-2-medium {
		margin-left: 16.6666666667%;
	}

	.row > .col-3-medium {
		width: 25%;
	}

	.row > .off-3-medium {
		margin-left: 25%;
	}

	.row > .col-4-medium {
		width: 33.3333333333%;
	}

	.row > .off-4-medium {
		margin-left: 33.3333333333%;
	}

	.row > .col-5-medium {
		width: 41.6666666667%;
	}

	.row > .off-5-medium {
		margin-left: 41.6666666667%;
	}

	.row > .col-6-medium {
		width: 50%;
	}

	.row > .off-6-medium {
		margin-left: 50%;
	}

	.row > .col-7-medium {
		width: 58.3333333333%;
	}

	.row > .off-7-medium {
		margin-left: 58.3333333333%;
	}

	.row > .col-8-medium {
		width: 66.6666666667%;
	}

	.row > .off-8-medium {
		margin-left: 66.6666666667%;
	}

	.row > .col-9-medium {
		width: 75%;
	}

	.row > .off-9-medium {
		margin-left: 75%;
	}

	.row > .col-10-medium {
		width: 83.3333333333%;
	}

	.row > .off-10-medium {
		margin-left: 83.3333333333%;
	}

	.row > .col-11-medium {
		width: 91.6666666667%;
	}

	.row > .off-11-medium {
		margin-left: 91.6666666667%;
	}

	.row > .col-12-medium {
		width: 100%;
	}

	.row > .off-12-medium {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0;
		margin-left: 0em;
	}

	.row.gtr-0 > * {
		padding: 0 0 0 0em;
	}

	.row.gtr-0.gtr-uniform {
		margin-top: 0em;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0em;
	}

	.row.gtr-25 {
		margin-top: 0;
		margin-left: -0.5em;
	}

	.row.gtr-25 > * {
		padding: 0 0 0 0.5em;
	}

	.row.gtr-25.gtr-uniform {
		margin-top: -0.5em;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 0.5em;
	}

	.row.gtr-50 {
		margin-top: 0;
		margin-left: -1em;
	}

	.row.gtr-50 > * {
		padding: 0 0 0 1em;
	}

	.row.gtr-50.gtr-uniform {
		margin-top: -1em;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 1em;
	}

	.row {
		margin-top: 0;
		margin-left: -2em;
	}

	.row > * {
		padding: 0 0 0 2em;
	}

	.row.gtr-uniform {
		margin-top: -2em;
	}

	.row.gtr-uniform > * {
		padding-top: 2em;
	}

	.row.gtr-150 {
		margin-top: 0;
		margin-left: -3em;
	}

	.row.gtr-150 > * {
		padding: 0 0 0 3em;
	}

	.row.gtr-150.gtr-uniform {
		margin-top: -3em;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 3em;
	}

	.row.gtr-200 {
		margin-top: 0;
		margin-left: -4em;
	}

	.row.gtr-200 > * {
		padding: 0 0 0 4em;
	}

	.row.gtr-200.gtr-uniform {
		margin-top: -4em;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 4em;
	}

}

@media screen and (max-width: 980px) {

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

}

@media screen and (max-width: 736px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row > .imp-small {
		order: -1;
	}

	.row > .col-1-small {
		width: 8.3333333333%;
	}

	.row > .off-1-small {
		margin-left: 8.3333333333%;
	}

	.row > .col-2-small {
		width: 16.6666666667%;
	}

	.row > .off-2-small {
		margin-left: 16.6666666667%;
	}

	.row > .col-3-small {
		width: 25%;
	}

	.row > .off-3-small {
		margin-left: 25%;
	}

	.row > .col-4-small {
		width: 33.3333333333%;
	}

	.row > .off-4-small {
		margin-left: 33.3333333333%;
	}

	.row > .col-5-small {
		width: 41.6666666667%;
	}

	.row > .off-5-small {
		margin-left: 41.6666666667%;
	}

	.row > .col-6-small {
		width: 50%;
	}

	.row > .off-6-small {
		margin-left: 50%;
	}

	.row > .col-7-small {
		width: 58.3333333333%;
	}

	.row > .off-7-small {
		margin-left: 58.3333333333%;
	}

	.row > .col-8-small {
		width: 66.6666666667%;
	}

	.row > .off-8-small {
		margin-left: 66.6666666667%;
	}

	.row > .col-9-small {
		width: 75%;
	}

	.row > .off-9-small {
		margin-left: 75%;
	}

	.row > .col-10-small {
		width: 83.3333333333%;
	}

	.row > .off-10-small {
		margin-left: 83.3333333333%;
	}

	.row > .col-11-small {
		width: 91.6666666667%;
	}

	.row > .off-11-small {
		margin-left: 91.6666666667%;
	}

	.row > .col-12-small {
		width: 100%;
	}

	.row > .off-12-small {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0;
		margin-left: 0em;
	}

	.row.gtr-0 > * {
		padding: 0 0 0 0em;
	}

	.row.gtr-0.gtr-uniform {
		margin-top: 0em;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0em;
	}

	.row.gtr-25 {
		margin-top: 0;
		margin-left: -0.375em;
	}

	.row.gtr-25 > * {
		padding: 0 0 0 0.375em;
	}

	.row.gtr-25.gtr-uniform {
		margin-top: -0.375em;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 0.375em;
	}

	.row.gtr-50 {
		margin-top: 0;
		margin-left: -0.75em;
	}

	.row.gtr-50 > * {
		padding: 0 0 0 0.75em;
	}

	.row.gtr-50.gtr-uniform {
		margin-top: -0.75em;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 0.75em;
	}

	.row {
		margin-top: 0;
		margin-left: -1.5em;
	}

	.row > * {
		padding: 0 0 0 1.5em;
	}

	.row.gtr-uniform {
		margin-top: -1.5em;
	}

	.row.gtr-uniform > * {
		padding-top: 1.5em;
	}

	.row.gtr-150 {
		margin-top: 0;
		margin-left: -2.25em;
	}

	.row.gtr-150 > * {
		padding: 0 0 0 2.25em;
	}

	.row.gtr-150.gtr-uniform {
		margin-top: -2.25em;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 2.25em;
	}

	.row.gtr-200 {
		margin-top: 0;
		margin-left: -3em;
	}

	.row.gtr-200 > * {
		padding: 0 0 0 3em;
	}

	.row.gtr-200.gtr-uniform {
		margin-top: -3em;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 3em;
	}

}

@media screen and (max-width: 480px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row > .imp-xsmall {
		order: -1;
	}

	.row > .col-1-xsmall {
		width: 8.3333333333%;
	}

	.row > .off-1-xsmall {
		margin-left: 8.3333333333%;
	}

	.row > .col-2-xsmall {
		width: 16.6666666667%;
	}

	.row > .off-2-xsmall {
		margin-left: 16.6666666667%;
	}

	.row > .col-3-xsmall {
		width: 25%;
	}

	.row > .off-3-xsmall {
		margin-left: 25%;
	}

	.row > .col-4-xsmall {
		width: 33.3333333333%;
	}

	.row > .off-4-xsmall {
		margin-left: 33.3333333333%;
	}

	.row > .col-5-xsmall {
		width: 41.6666666667%;
	}

	.row > .off-5-xsmall {
		margin-left: 41.6666666667%;
	}

	.row > .col-6-xsmall {
		width: 50%;
	}

	.row > .off-6-xsmall {
		margin-left: 50%;
	}

	.row > .col-7-xsmall {
		width: 58.3333333333%;
	}

	.row > .off-7-xsmall {
		margin-left: 58.3333333333%;
	}

	.row > .col-8-xsmall {
		width: 66.6666666667%;
	}

	.row > .off-8-xsmall {
		margin-left: 66.6666666667%;
	}

	.row > .col-9-xsmall {
		width: 75%;
	}

	.row > .off-9-xsmall {
		margin-left: 75%;
	}

	.row > .col-10-xsmall {
		width: 83.3333333333%;
	}

	.row > .off-10-xsmall {
		margin-left: 83.3333333333%;
	}

	.row > .col-11-xsmall {
		width: 91.6666666667%;
	}

	.row > .off-11-xsmall {
		margin-left: 91.6666666667%;
	}

	.row > .col-12-xsmall {
		width: 100%;
	}

	.row > .off-12-xsmall {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0;
		margin-left: 0em;
	}

	.row.gtr-0 > * {
		padding: 0 0 0 0em;
	}

	.row.gtr-0.gtr-uniform {
		margin-top: 0em;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0em;
	}

	.row.gtr-25 {
		margin-top: 0;
		margin-left: -0.375em;
	}

	.row.gtr-25 > * {
		padding: 0 0 0 0.375em;
	}

	.row.gtr-25.gtr-uniform {
		margin-top: -0.375em;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 0.375em;
	}

	.row.gtr-50 {
		margin-top: 0;
		margin-left: -0.75em;
	}

	.row.gtr-50 > * {
		padding: 0 0 0 0.75em;
	}

	.row.gtr-50.gtr-uniform {
		margin-top: -0.75em;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 0.75em;
	}

	.row {
		margin-top: 0;
		margin-left: -1.5em;
	}

	.row > * {
		padding: 0 0 0 1.5em;
	}

	.row.gtr-uniform {
		margin-top: -1.5em;
	}

	.row.gtr-uniform > * {
		padding-top: 1.5em;
	}

	.row.gtr-150 {
		margin-top: 0;
		margin-left: -2.25em;
	}

	.row.gtr-150 > * {
		padding: 0 0 0 2.25em;
	}

	.row.gtr-150.gtr-uniform {
		margin-top: -2.25em;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 2.25em;
	}

	.row.gtr-200 {
		margin-top: 0;
		margin-left: -3em;
	}

	.row.gtr-200 > * {
		padding: 0 0 0 3em;
	}

	.row.gtr-200.gtr-uniform {
		margin-top: -3em;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 3em;
	}

}

@media screen and (max-width: 480px) {

	ul.actions:not(.fixed) {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-left: 0;
		width: 100% !important;
	}

	ul.actions:not(.fixed) li {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		padding: 1em 0 0 0;
		text-align: center;
		width: 100%;
	}

	ul.actions:not(.fixed) li > * {
		width: 100%;
	}

	ul.actions:not(.fixed) li:first-child {
		padding-top: 0;
	}

	ul.actions:not(.fixed) li input[type="submit"],
	ul.actions:not(.fixed) li input[type="reset"],
	ul.actions:not(.fixed) li input[type="button"],
	ul.actions:not(.fixed) li button,
	ul.actions:not(.fixed) li .button {
		width: 100%;
	}

	ul.actions:not(.fixed) li input[type="submit"].icon:before,
	ul.actions:not(.fixed) li input[type="reset"].icon:before,
	ul.actions:not(.fixed) li input[type="button"].icon:before,
	ul.actions:not(.fixed) li button.icon:before,
	ul.actions:not(.fixed) li .button.icon:before {
		margin-left: -0.5em;
	}

}

@media screen and (max-width: 480px) {

	.container {
		max-width: calc(100% - 3em);
	}

}

*, *:before, *:after {
	box-sizing: inherit;
}

/* XLarge */

@media screen and (max-width: 1800px) {

	/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

}

/* Large */

@media screen and (max-width: 1280px) {

	/* Header */

	#header {
		padding: 6em 3em 3em 3em;
		width: 30%;
	}

	#header h1 {
		font-size: 1.25em;
	}

	#header h1 br {
		display: none;
	}

	#header > .inner {
		margin-bottom: 0;
	}


	/* Main */

	#main {
		margin-left: 30%;
		max-width: none;
		padding: 6em 3em 3em 3em;
		width: calc(100% - 30%);
	}

}

/* Medium */

@media screen and (max-width: 980px) {

	/* Basic */

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

	/* List */

	ul.icons li .icon {
		font-size: 1.25em;
	}

	/* Header */

	#header {
		background-attachment: scroll;
		background-position: top left, center center;
		background-size: auto,		cover;
		left: auto;
		padding: 6em 4em;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
		display: block;
	}

	#header h1 {
		font-size: 1.75em;
	}

	#header h1 br {
		display: inline;
	}


	/* Main */

	#main {
		margin: 0;
		padding: 6em 4em;
		width: 100%;
	}

}

/* Small */

@media screen and (max-width: 736px) {

	/* Basic */

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1em;
	}

	/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major h2 {
		font-size: 1.35em;
	}

	/* List */

	ul.labeled-icons li {
		padding-left: 2em;
	}

	ul.labeled-icons li h3 {
		line-height: 1.75em;
	}

	/* Header */

	#header {
		padding: 2.25em 1.5em;
	}

	#header h1 {
		font-size: 1.35em;
	}


	/* Main */

	#main {
		padding: 2.25em 1.5em 0.25em 1.5em;
	}

	#main > section {
		margin: 2.25em 0 0 0;
		padding: 2.25em 0 0 0;
	}

	/* Poptrox */

	.poptrox-popup {
		border-radius: 0;
	}

	.poptrox-popup .nav-next:before,
	.poptrox-popup .nav-previous:before {
		margin-top: -1em;
	}

}

/* XSmall */

@media screen and (max-width: 480px) {



	#header {
		padding: 4.5em 1.5em;
	}

	#header h1 br {
		display: none;
	}
}

-----------------

 .box{
	 margin: 100px auto;
	 width: 300px;
	 height: 50px;
 }

.container-2{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.container-2 input#search{
	width: 600px;
	height: 50px;
	background: #F5F5F5;
	border: none;
	font-size: 10pt;
	float: left;
	color: #65737e;
	padding-left: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #65737e;

	/*-webkit-transition: width .55s ease;*/
	/*-moz-transition: width .55s ease;*/
	/*-ms-transition: width .55s ease;*/
	/*-o-transition: width .55s ease;*/
	/*transition: width .55s ease;*/
}

/*.container-2 input#search::-webkit-input-placeholder {*/
	/*color: #65737e;*/
/*}*/

/*.container-2 input#search:-moz-placeholder { !* Firefox 18- *!*/
	/*color: #65737e;*/
/*}*/

/*.container-2 input#search::-moz-placeholder {  !* Firefox 19+ *!*/
	/*color: #65737e;*/
/*}*/

/*.container-2 input#search:-ms-input-placeholder {*/
	/*color: #65737e;*/
/*}*/

/*.container-2 .icon{*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*margin-left: 17px;*/
	/*margin-top: 17px;*/
	/*z-index: 1;*/
	/*color: #4f5b66;*/
/*}*/

/*.container-2 input#search:focus, .container-2 input#search:active{*/
	/*outline:none;*/
	/*width: 300px;*/
/*}*/

/*.container-2:hover input#search{*/
	/*width: 600px;*/
/*}*/

/*.container-2:hover .icon{*/
	/*color: #93a2ad;*/
/*}*/

#search{
	margin-left: 425px;
}

#image_home{
	position: absolute;
	margin-left: 1063px;
	margin-top: 5px;

}
#image_setting{
	position: absolute;
	margin-left: 1136px;
	margin-top: 5px;

}
#comments{
	height: 200px;
	width: 600px;
}
#btn_readmore {
	font-size: 16px;
	font-family: Lovelo-Black, sans-serif;
	width: 122px;
	height: 50px;
	line-height: 25px;
	text-align: center;
	color: #F5F5F5;
	background-color: #AAAAAA;
	border-radius: 6px;
	border: 0;
	margin-right: 33px;
}

#btn_writenewblog {
	font-size: 16px;
	font-family: Lovelo-Black, sans-serif;
	width: 132px;
	height: 50px;
	line-height: 25px;
	text-align: center;
	color: #F5F5F5;
	background-color: #AAAAAA;
	border-radius: 6px;
	border: 0;
	margin-right: 33px;
}

#btn_comments {
	font-size: 16px;
	font-family: Lovelo-Black, sans-serif;
	width: 122px;
	height: 50px;
	line-height: 25px;
	text-align: center;
	color: #F5F5F5;
	background-color: #AAAAAA;
	border-radius: 6px;
	border: 0;
	margin-right: 33px;
}

