header,section {
	display: block;
}

h1, h2, h3 {
	color: #787878;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

p {
	margin: 0 0 2em 0;
}

#article {
	margin-left: 35%;
	max-width: 54em;
	padding: 8em 4em 4em 4em;
	width: calc(100% - 35%);
}

#article > section {
	margin: 1em 0 0 0;
	padding: 4em 0 0 0;
}

#article > section:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}
